.subjectHeader {
  color: DarkCyan;
  font-family: Arial;
}
th {
  padding: 15px
  font:center;
  font-weight: bold;
  color: gray;
}
table {
  text-align:center;
  border: 1px solid black;
}
ul{
  list-style-type: square;
}

a:hover{
  color: hotpink;
}

a:link {
  text-decoration: none;
}

blockquote{
  color: white;
  background-color: DarkCyan;
}

#teamRoster>li:first-child{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .8;
}

#teamRoster>li:last-child{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .8;
}

ul>li>ol>li:first-child{
  font-weight: bold;
}

#checkbox-grid{
  list-style-type: none;
}
tr:nth-child(odd) {
  background-color: orange;
}
tr:nth-child(even){
  background-color: blue;
}
